.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: url("../image/sky-background.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px;
  border-radius: 25px;
  border: 5px solid cadetblue;
  height: 330px;
}

#cityInput {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 10px 40px;
}

#getWeatherBtn {
  width: 50%;
  border: none;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 8px;
  padding: 10px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px,
    rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
  z-index: 1;
  cursor: pointer;
}

#getWeatherBtn:hover {
  transition: 0.3s ease;
}

.weather-container div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  background-color: cadetblue;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.weather-container div p {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.weather-container div span {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
